# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
import json
from sql_queries import *

In [2]:

conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=postgres password=postgres")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files("./data/song_data/")
sorted(song_files)

['/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/A/TRAAAAW128F429D538.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/A/TRAAABD128F429CF47.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/A/TRAAADZ128F9348C2E.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/A/TRAAAEF128F4273421.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/A/TRAAAFD128F92F423A.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/A/TRAAAMO128F1481E7F.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/A/TRAAAMQ128F1460CD3.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/A/TRAAAPK128E0786D96.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/A/TRAAARJ128F9320760.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/A/TRAAAVG12903CFA543.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/A/TRAAAVO128F93133D4.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/B/TRAABCL128F4286650.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/B/TRAABDL12903CAABBA.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/B/TRAABJL12903CDCF1A.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/B/TRAABJV128F1460C49.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/B/TRAABLR128F423B7E3.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/B/TRAABNV128F425CEE1.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/B/TRAABRB128F9306DD5.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/B/TRAABVM128F92CA9DC.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/B/TRAABXG128F9318EBD.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/B/TRAABYN12903CFD305.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/B/TRAABYW128F4244559.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACCG128F92E8A55.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACER128F4290F96.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACFV128F935E50B.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACHN128F1489601.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACIW12903CC0F6D.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACLV128F427E123.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACNS128F14A2DF5.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACOW128F933E35F.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACPE128F421C1B9.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACQT128F9331780.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACSL128F93462F4.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACTB12903CAAF15.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACVS128E078BE39.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/A/C/TRAACZK128F4243829.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/A/TRABACN128F425B784.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/A/TRABAFJ128F42AF24E.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/A/TRABAFP128F931E9A1.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/A/TRABAIO128F42938F9.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/A/TRABATO128F42627E9.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/A/TRABAVQ12903CBF7E0.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/A/TRABAWW128F4250A31.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/A/TRABAXL128F424FC50.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/A/TRABAXR128F426515F.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/A/TRABAXV128F92F6AE3.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/A/TRABAZH128F930419A.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/B/TRABBAM128F429D223.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/B/TRABBBV128F42967D7.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/B/TRABBJE12903CDB442.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/B/TRABBKX128F4285205.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/B/TRABBLU128F93349CF.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/B/TRABBNP128F932546F.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/B/TRABBOP128F931B50D.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/B/TRABBOR128F4286200.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/B/TRABBTA128F933D304.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/B/TRABBVJ128F92F7EAA.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/B/TRABBXU128F92FEF48.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/B/TRABBZN12903CD9297.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/C/TRABCAJ12903CDFCC2.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/C/TRABCEC128F426456E.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/C/TRABCEI128F424C983.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/C/TRABCFL128F149BB0D.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/C/TRABCIX128F4265903.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/C/TRABCKL128F423A778.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/C/TRABCPZ128F4275C32.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/C/TRABCRU128F423F449.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/C/TRABCTK128F934B224.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/C/TRABCUQ128E0783E2B.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/C/TRABCXB128F4286BD3.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/song_data/A/B/C/TRABCYE128F934CE1D.json']

In [5]:
df=pd.read_json(sorted(song_files)[0], lines=True)
df

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD7TVE1187B99BFB1,NaN,NaN,California - LA,Casual,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [6]:
song_data = df[['song_id', 'title', 'duration', 'artist_id']].iloc[0].tolist()
song_data

['SOMZWCG12A8C13C480', "I Didn't Mean To", 218.93179, 'ARD7TVE1187B99BFB1']

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [7]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [8]:
artist_data = df[['artist_id','artist_name', 'artist_location','artist_latitude', 'artist_longitude']].iloc[0].tolist()
artist_data

['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [9]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [10]:
log_files = get_files("./data/log_data/")
sorted(log_files)

['/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-01-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-02-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-03-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-04-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-05-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-06-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-07-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-08-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-09-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-10-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-11-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-12-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-13-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-14-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-15-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-16-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-17-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-18-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-19-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-20-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-21-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-22-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-23-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-24-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-25-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-26-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-27-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-28-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-29-events.json',
 '/Users/ivanpedersen/Documents/dev/scrimshaw-recursion/data/log_data/2018/11/2018-11-30-events.json']

In [11]:
df = pd.read_json(sorted(log_files)[-1], lines=True)
df

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Won't Go Home Without You,200,1543540625796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Train,Logged In,Jacob,M,3,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Hey_ Soul Sister,200,1543540856796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,Timbiriche,Logged In,Rylan,M,58,George,202.60526,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Besos De Ceniza,200,1543603476796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
384,A Perfect Circle,Logged In,Rylan,M,59,George,206.05342,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Rose,200,1543603678796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
385,Anberlin,Logged In,Rylan,M,60,George,348.68200,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,The Haunting,200,1543603884796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
386,None,Logged In,Rylan,M,61,George,NaN,paid,"Birmingham-Hoover, AL",GET,Downgrade,1.541020e+12,1076,None,200,1543603993796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
387,Deas Vail,Logged In,Elijah,M,0,Davis,237.68771,free,"Detroit-Warren-Dearborn, MI",PUT,NextSong,1.540772e+12,985,Anything You Say (Unreleased Version),200,1543607664796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",5

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [12]:
df = df.where(df['page'] == 'NextSong')
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0.0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829.0,Jim Henson's Dead,200.0,1.543537e+12,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0.0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049.0,Shell Shock,200.0,1.543540e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1.0,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049.0,Women Lose Weight (Feat: Slick Rick),200.0,1.543540e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2.0,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049.0,Won't Go Home Without You,200.0,1.543541e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Train,Logged In,Jacob,M,3.0,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049.0,Hey_ Soul Sister,200.0,1.543541e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

In [13]:
df = df.dropna()
df

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0.0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829.0,Jim Henson's Dead,200.0,1.543537e+12,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0.0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049.0,Shell Shock,200.0,1.543540e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1.0,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049.0,Women Lose Weight (Feat: Slick Rick),200.0,1.543540e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2.0,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049.0,Won't Go Home Without You,200.0,1.543541e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Train,Logged In,Jacob,M,3.0,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049.0,Hey_ Soul Sister,200.0,1.543541e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,Foo Fighters,Logged In,Rylan,M,57.0,George,271.38567,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076.0,The Pretender,200.0,1.543603e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
383,Timbiriche,Logged In,Rylan,M,58.0,George,202.60526,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076.0,Besos De Ceniza,200.0,1.543603e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
384,A Perfect Circle,Logged In,Rylan,M,59.0,George,206.05342,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076.0,Rose,200.0,1.543604e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
385,Anberlin,Logged In,Rylan,M,60.0,George,348.68200,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076.0,The Haunting,200.0,1.543604e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
387,Deas Vail,Logged In,Elijah,M,0.0,Davis,237.68771,free,"Detroit-Warren-Dearborn, MI",PUT,NextSong,1.540772e+12,985.0,Anything You Say (Unreleased Version),200.0,1.543608e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",5

In [14]:
t = pd.to_datetime(df['ts'], unit='ms')

In [15]:
#timestamp, hour, day, week of year, month, year, and weekday
time_data = [t, t.dt.hour, t.dt.day, t.dt.weekofyear, t.dt.month, t.dt.year, t.dt.weekday]
column_labels = ['timestamp', 'hour', 'day', 'weekofyear', 'month', 'year', 'weekday']

<ipython-input-15-db82dd6cb699>:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  time_data = [t, t.dt.hour, t.dt.day, t.dt.weekofyear, t.dt.month, t.dt.year, t.dt.weekday]

In [16]:
time_df = pd.DataFrame(data=dict(zip(column_labels, time_data)))
time_df.head()

                timestamp  hour  day  weekofyear  month  year  weekday
0 2018-11-30 00:22:07.796     0   30          48     11  2018        4
1 2018-11-30 01:08:41.796     1   30          48     11  2018        4
2 2018-11-30 01:12:48.796     1   30          48     11  2018        4
3 2018-11-30 01:17:05.796     1   30          48     11  2018        4
4 2018-11-30 01:20:56.796     1   30          48     11  2018        4

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [17]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [18]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']].drop_duplicates()
user_df

    userId  firstName   lastName gender level
0       91     Jayden       Bell      M  free
1       73      Jacob      Klein      M  paid
23      86      Aiden       Hess      M  free
30      24      Layla    Griffin      F  paid
40      26       Ryan      Smith      M  free
59      49      Chloe     Cuevas      F  paid
62      57  Katherine        Gay      F  free
69      30      Avery    Watkins      F  paid
79      92      Ryann      Smith      F  free
125     74     Braden     Parker      M  free
135     88   Mohammad  Rodriguez      M  paid
146     36    Matthew      Jones      M  paid
177     12     Austin    Rosales      M  free
186     61     Samuel   Gonzalez      M  free
194     43     Jahiem      Miles      M  free
205     85    Kinsley      Young      F  paid
213     50        Ava   Robinson      F  free
239    101     Jayden        Fox      M  free
243     16      Rylan     George      M  paid
306     78      Chloe       Roth      F  free
317     33    Bronson     Harris      M  free
387      5     Elijah      Davis      M  free

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [19]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [20]:
#timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent
df.columns

Index(['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'],
      dtype='object')

In [21]:
df['song'].unique()

array(["Jim Henson's Dead", 'Shell Shock',
       'Women Lose Weight (Feat: Slick Rick)',
       "Won't Go Home Without You", 'Hey_ Soul Sister',
       "I'm In Miami Bitch", 'Sexy Bitch',
       'The Cure & The Cause (Dennis Ferrer Remix)', 'Staring At Me',
       'The Second You Sleep', 'Wide Eyes',
       'La Resistance (Medley) (LP Version)', 'Restless', 'Noc...',
       'Like You', 'God Put A Smile Upon Your Face', 'Playboy',
       'Every Time You Go', 'Natural Anthem (Album)', 'Taylor',
       'Naked As We Can', 'Fantasy', 'Epilogue', "Groovin'",
       "Ain't No Way (You Won't Love Me)", 'Rome',
       'Highway Through My Home', '143', 'Dreams-Come-True-Girl',
       "I Don't Feel Like Dancin'", 'Right On Time (Album Version)',
       'Black Lines', 'Uprising', 'Man Makes The Zoo', 'Blacks/Radio',
       'Love Dealer (Featuring Justin Timberlake)', 'ReprÃ\x83Â©sente',
       'Up And Gone', 'Te Conoci', 'Bottle Pop',
       'My Love Will Follow You', 'Found Home', 'My December',
       'The Perfect Kiss', "You're Gonna Make Me Lonesome When You Go",
       'Shortie Like Mine', 'Domination',
       'Inside My Love (Digitally Remastered 93)', 'Structure',
       'Killing In The Name', "Girl You Know It's True",
       'Waterfall (Spirit Of The Rainforest Album Version)',
       'Robot Soul (Radio Edit)', 'Blindfold',
       "I'm Yours (Album Version)", 'Say Hello',
       '(I Just) Died In Your Arms', 'Sweet Jane', 'Gears',
       'Seven Nation Army (Album Version)', 'Fix You',
       'It Could Be Sweet', 'If This Was The Last Song', 'Poppiholla',
       'The Unforgiven III', 'Apresurate', 'There Is',
       'Would That Make U Love Me', 'Screaming Infidelities', 'Big Idea',
       'Bulletproof', 'The Tune', 'Trani', 'Girl Money',
       'Chloe Dancer/Crown Of Thorns', 'The Bachelor and the Bride', 'M',
       "Nothin' On You [feat. Bruno Mars] (Album Version)",
       'You Sent Me Flying / Cherry', 'Faithless', 'You Only Live Once',
       'Tempting Time', 'Flowers In December', 'Take It Back',
       'Behind Two Hills&A Swimming Pool',
       'My First Kiss (Feat. Ke$ha) [Album Version]',
       'Straight Outta Compton (Extended Mix) (Edit) (Explicit)',
       "Goin' Home", 'Sick', 'Half Of My Heart', 'Revelry',
       'World Coming Down', 'Fire', 'Shoot Me Down',
       'Juice (Know The Ledge)', "Hymne A L'Amour (Album Version)",
       "We're Only Gonna Die (Album Version)", 'Next Hype', 'Fireflies',
       'Hotel California', 'Little Wing', 'Smothered (Album Version)',
       'Try Your Best', 'Le Courage Des Oiseaux',
       'Lips Like Morphine (Album Version)', 'Kiedys zrozumiesz',
       "Fallin' Apart", "Don't Cry (Original)", 'Transparency',
       'La Suerte De Mi Vida', 'Redwing',
       'Starfish-On-The-Toast (2008 Digital Remaster)', 'Illusions',
       'Bright Lights (Remastered Version)', 'Field Goal', 'Nah!',
       'By The Way', 'Keep On Running', 'I Dont Wanna Wait', 'Echonomix',
       'One By One', 'Sin Miedo a Nada (con Amaia Montero)',
       'Bonnie Brae', 'War', 'Sad Lisa',
       'The House That Nat Built (Album Version)',
       'Jealous Minds Think Alike', "My Mother's Eyes", 'Make Her Say',
       'Viaje Sin Rumbo (2004 Digital Remaster)', 'Dreamdancer',
       'The Queen of Nothing', 'Riot In Cell Block Number Nine',
       'Sehr kosmisch', 'Everything You Love (Album Version)',
       "Someone Else's Life", 'Godine prolaze',
       'Private Affair (Amended Album Version)', 'Ginko Biloba',
       'Three Day Weekend', 'Meen Dah Elly Nseik', 'Boot On The Seat',
       'FaFaFa (Radio Edit)', 'Human After All', 'Somebody To Love',
       'Real Love', 'Subterranean Homesick Blues (Album Version)',
       "Can't Break Thru", 'Get Me Bodied', 'Maybe', 'Walk To The Water',
       "I CAN'T GET STARTED", 'Breath After Breath', 'Head Over Heels',
       'Lonely As You', 'One Year_ Six Months', 'Against The Wall',
       'Knocking On Forbidden Doors', 'Hey Hey', 'Genom tunna tyger',
       'The Little Things Give You Away [Live At Milton Keynes]',
       'Devil May Care', "Tell Me I'm A Wreck", 'Constellations',
       'Vuelve', 'Give Me Anything', 'Worm Infested',
       'Headlights Look Like Diamonds', 'Hands Up', 'Sweet And Wild',
       'Satellite Mind', "You're The One",
       'Did You Get My Message? (Live From Montalvo)',
       'N A Whitemanzeyez', 'Karma Police', 'Puto', 'Killing Lies',
       'Hallelujah', "Ghosts 'n' Stuff (Original Instrumental Mix)",
       "You're The Voice", 'Inside Of You',
       'Clean Up Woman (Single/LP Version)', 'Tranen Gelachen',
       'The Small Print',
       'A QuÃ\x83Â© Niegas El Delirio (MalagueÃ\x83Â±a) (Live)',
       "It's My Life (Radio Edit)", 'Sit Down. Stand Up', 'Purple Weed',
       "Someone Else's Arms", "The Future Ain't What It Used To Be",
       'A-Punk (Album)', 'Time To Pretend', 'Luna y Sol', 'Touch My Horn',
       'Eternity', 'Dyed in the Wool (Album Version)',
       'Wretchrospective (feat. Vis)', 'Simple',
       'Riecht wie Teen Spirit (Smells Like Teen Spirit)', 'Adrenalin',
       'Bread & Water', 'VooDoo',
       'Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)',
       "Frankie's Office", 'Summer Breeze', 'Love Shack', 'Alexandra',
       'Canada', 'Anthem For The Underdog',
       'Get Ready To Bounce Recall 08', 'The Good Fight', 'Low Land Moan',
       'In', 'Sway', 'I Miss You Now', 'Masculine Eclipse',
       'As If Set Afire', 'Underwater World', 'Our Last Time',
       'T.N.T. For The Brain (112 Bpm) (Radio Edit)',
       'Tattered Banners And Bloody Flags',
       'The Great Escape (Album Version) (Explicit)',
       'Lacreme napulitane', 'Autobiography', 'The Ecstasy Of Gold',
       'Kryptonite', 'No Fool (For Love)', 'Pray', 'Bubble Toes', 'Lotus',
       'You Belong With Me', 'Candy Rain', 'Firestarter', 'Addicted',
       'The Evil That Men Do (1998 Digital Remaster)', 'All Around Me',
       'Everyday', 'Feel It', 'Overload', 'Hold You', 'The Way She Moves',
       'I Want Your Love', 'Corrido de Boxeo', 'When I Grow Up', 'Yellow',
       'She Likes (Bittersweet Love)', 'Believe That',
       'Through The Fire And Flames (Album Version)',
       'Lucky (Album Version)', 'Is She Weird', 'Without Me',
       'Cry No More', 'Le Million', 'Only Superstition', 'Bedroom Suite',
       'A New Arrangement', 'The Only Exception (Album Version)',
       'Sinisten tÃ\x83Â¤htien alla', 'Knee 2',
       'SinceritÃ\x83Â© Et Jalousie', 'Her Voice Is Beyond Her Years',
       'If You Leave Me Now', 'Diamond Dave', '1999',
       'King Of Pain (Live/Unplugged Version)',
       'Rebirthing (Album Version)', 'Beauty and the Beast',
       'Dressed For Friend Requests (Album Version)', "Tuesday's Child",
       'All The Right Moves', 'Wicked', 'My Distressor 40Khz ReRub Mix',
       'Six Days At The Bottom Of The Ocean', 'Little Bird',
       'The Horizon Has Been Defeated', 'Everything In Its Right Place',
       'Heretics', 'Sabbra Cadabra',
       'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)',
       'Shattered', 'As The Rhyme Goes On', 'Settle For A Slowdown',
       'Daniel Cowman', 'Make You Sin', 'Roc U', 'Sayonara-Nostalgia',
       'In The Hands Of The Gods (Featuring Biz Markie)',
       "Don't Forget To Breathe", "Now You're Gone", 'Undo', 'G4L',
       'Hello', 'Tamale', 'Another Place', 'Straight To Hell',
       'Cry Me A River', 'Un Camino Hasta Vos',
       'Sura (2008 Digital Remaster)', 'Pursuit Of Happiness (nightmare)',
       'Forever', 'Homesick [Acoustic]',
       'Dead And Gone [feat. Justin Timberlake] (Explicit Album Version)',
       "It'll Be a Long Time (Album Version)",
       'Esta Es Para Hacerte FÃ\x83Â©liz', 'Spin Spin Sugar',
       'This War Is Ours (The Guillotine II)', 'La Vida Es Un Ratico',
       'Never Mind', 'Possession', "Don't Start Me Talkin'",
       'Back To Life (However Do You Want Me) (2003 Digital Remaster) (Feat. Caron Wheeler)',
       'Dog Days Are Over (Radio Edit)', 'Heresy  (LP Version)', 'Remedy',
       'Frozen Angel', 'The Pretender', 'Besos De Ceniza', 'Rose',
       'The Haunting', 'Anything You Say (Unreleased Version)'],
      dtype=object)

In [22]:
for index, row in df.iterrows():
    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    #(time_stamp, user_id, level, song_id, artist_id, session_id, location, user_agent)
    
    songplay_data = (pd.to_datetime(row.ts, unit='ms'), row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()
    #timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent

f The Gods (Featuring Biz Markie) Morcheeba 101.95546
(Timestamp('2018-11-30 17:44:00.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Don't Forget To Breathe Bitter:Sweet 194.16771
Don't Forget To Breathe Bitter:Sweet 194.16771
(Timestamp('2018-11-30 17:45:41.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Now You're Gone Basshunter Feat. DJ Mental Theos Bazzheadz 152.65914
Now You're Gone Basshunter Feat. DJ Mental Theos Bazzheadz 152.65914
(Timestamp('2018-11-30 17:47:13.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Undo BjÃÂ¶rk 348.57751
Undo BjÃÂ¶rk 348.57751
(Timestamp('2018-11-30 17:48:55.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 G4L Rihanna 239.75138
G4L Rihanna 239.75138
(Timestamp('2018-11-30 17:49:45.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Hello Evanescence 220.3424
Hello Evanescence 220.3424
(Timestamp('2018-11-30 17:53:44.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Tamale Mr. Vegas 240.69179
Tamale Mr. Vegas 240.69179
(Timestamp('2018-11-30 17:54:43.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Another Place Mischa Daniels 419.81342
Another Place Mischa Daniels 419.81342
(Timestamp('2018-11-30 17:57:24.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Straight To Hell The Menzingers 276.00934
Straight To Hell The Menzingers 276.00934
(Timestamp('2018-11-30 17:58:43.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Cry Me A River Justin Timberlake 288.93995
Cry Me A River Justin Timberlake 288.93995
(Timestamp('2018-11-30 18:03:19.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Un Camino Hasta Vos Vilma Palma e Vampiros 338.18077
Un Camino Hasta Vos Vilma Palma e Vampiros 338.18077
(Timestamp('2018-11-30 18:04:23.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Sura (2008 Digital Remaster) CCCP - Fedeli Alla Linea 329.66485
Sura (2008 Digital Remaster) CCCP - Fedeli Alla Linea 329.66485
(Timestamp('2018-11-30 18:08:07.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Pursuit Of Happiness (nightmare) Kid Cudi / MGMT / Ratatat 295.67955
Pursuit Of Happiness (nightmare) Kid Cudi / MGMT / Ratatat 295.67955
(Timestamp('2018-11-30 18:10:01.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Forever Drake / Kanye West / Lil Wayne / Eminem 357.66812
Forever Drake / Kanye West / Lil Wayne / Eminem 357.66812
(Timestamp('2018-11-30 18:13:36.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Homesick [Acoustic] A Day To Remember 247.64036
Homesick [Acoustic] A Day To Remember 247.64036
(Timestamp('2018-11-30 18:14:56.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Dead And Gone [feat. Justin Timberlake] (Explicit Album Version) T.I. 299.75465
Dead And Gone [feat. Justin Timberlake] (Explicit Album Version) T.I. 299.75465
(Timestamp('2018-11-30 18:16:20.796000'), '91', 'free', None, None, 1085.0, 'Dallas-Fort Worth-Arlington, TX', 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 It'll Be a Long Time (Album Version) The Offspring 163.3171
It'll Be a Long Time (Album Version) The Offspring 163.3171
(Timestamp('2018-11-30 18:19:03.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Esta Es Para Hacerte FÃÂ©liz Jorge Gonzalez 272.14322
Esta Es Para Hacerte FÃÂ©liz Jorge Gonzalez 272.14322
(Timestamp('2018-11-30 18:19:33.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Spin Spin Sugar Sneaker Pimps 260.91057
Spin Spin Sugar Sneaker Pimps 260.91057
(Timestamp('2018-11-30 18:21:19.796000'), '91', 'free', None, None, 1085.0, 'Dallas-Fort Worth-Arlington, TX', 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 This War Is Ours (The Guillotine II) Escape The Fate 266.73587
This War Is Ours (The Guillotine II) Escape The Fate 266.73587
(Timestamp('2018-11-30 18:21:46.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 La Vida Es Un Ratico Juanes 243.27791
La Vida Es Un Ratico Juanes 243.27791
(Timestamp('2018-11-30 18:24:05.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Never Mind The Replacements 170.57914
Never Mind The Replacements 170.57914
(Timestamp('2018-11-30 18:26:12.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Possession Sarah McLachlan 278.90893
Possession Sarah McLachlan 278.90893
(Timestamp('2018-11-30 18:28:08.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Don't Start Me Talkin' Sonny Boy Williamson 152.24118
Don't Start Me Talkin' Sonny Boy Williamson 152.24118
(Timestamp('2018-11-30 18:29:02.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Back To Life (However Do You Want Me) (2003 Digital Remaster) (Feat. Caron Wheeler) Soul II Soul Featuring Caron Wheeler 225.2273
Back To Life (However Do You Want Me) (2003 Digital Remaster) (Feat. Caron Wheeler) Soul II Soul Featuring Caron Wheeler 225.2273
(Timestamp('2018-11-30 18:31:34.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Dog Days Are Over (Radio Edit) Florence + The Machine 219.66322
Dog Days Are Over (Radio Edit) Florence + The Machine 219.66322
(Timestamp('2018-11-30 18:32:46.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Heresy  (LP Version) Pantera 286.69342
Heresy  (LP Version) Pantera 286.69342
(Timestamp('2018-11-30 18:35:19.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Remedy Cold 177.76281
Remedy Cold 177.76281
(Timestamp('2018-11-30 18:36:25.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Frozen Angel Norther 246.54322
Frozen Angel Norther 246.54322
(Timestamp('2018-11-30 18:39:22.796000'), '49', 'paid', None, None, 1114.0, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 The Pretender Foo Fighters 271.38567
The Pretender Foo Fighters 271.38567
(Timestamp('2018-11-30 18:40:05.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Besos De Ceniza Timbiriche 202.60526
Besos De Ceniza Timbiriche 202.60526
(Timestamp('2018-11-30 18:44:36.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Rose A Perfect Circle 206.05342
Rose A Perfect Circle 206.05342
(Timestamp('2018-11-30 18:47:58.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 The Haunting Anberlin 348.682
The Haunting Anberlin 348.682
(Timestamp('2018-11-30 18:51:24.796000'), '16', 'paid', None, None, 1076.0, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

        SELECT songs.song_id,
               artists.artist_id
        FROM  songs
          INNER JOIN artists
            ON songs.artist_id = artists.artist_id
        WHERE songs.title = %s
              AND
              artists.name = %s
              AND
              songs.duration = %s
 Anything You Say (Unreleased Version) Deas Vail 237.68771
Anything You Say (Unreleased Version) Deas Vail 237.68771
(Timestamp('2018-11-30 19:54:24.796000'), '5', 'free', None, None, 985.0, 'Detroit-Warren-Dearborn, MI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [23]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.